* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 70px;
    flex-wrap: wrap;

    width: 100wh;
    height: 100vh;
    padding: 0 100px;

    background-image: linear-gradient(to bottom right, #4169E1, #1E90FF,#4169E1);
}

.card {
    width: 250px;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 10px rgba(173,216,230, 0.5);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 25px;
    color: #f5f5f5;
    padding: 5px 15px;
}

.text-shadow {
    color: black;
    text-shadow: 10px 15px 0px rgba(9, 10, 10, 0.5);
}

.upper-case {
    text-transform: uppercase;
}

.transparent {
    opacity: 0.2;
}

.text-gradient {
    font-weight: bold;
    background-image: linear-gradient(#FF1493, #B0E0E6);
    background-clip: text;
    color: transparent;
}

.text-bold {
    font-weight: bold;
    text-decoration: line-through;
}

.background-gradient {
    background-image: linear-gradient(#FF1493, #B0E0E6);
    padding: 5px;
    color: black;
}

.date {
    margin-top: 10px;
    font-size: 16px;
}